.main-header {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #4b6eb3;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

