
nav {
  height: 120px;
  width: 100%;
  background-color: #4b6eb3;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  justify-content:  space-between;
  position: fixed;
}

nav span {
  font-family: 'Bungee', cursive;
}

p {
  margin: 1px;
}
button.compose {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  color: #FFFFFF;
  background-color: transparent;
  
}

nav i {
  color: #f50000;
}

@media only screen and (min-width: 1160px) {
  nav {
    background-color: #4056A1;
    background-image: none;

  }

}